.flex-block {
    width: 1175px;
    height: fit-content;
    padding-top: 62px;
    padding-bottom: 80px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}
.flex-block__list {
    font-weight: 52px;
    font-display: center;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    font-size: 20px;
}
.flex-block__item-name {
    width: 340px;
    height: 50px;
    justify-content: space-between;
    background-color: #333333;
}
.flex-block__item-price {
    width: 340px;
    height: 100px;
    display: inline-block;
    margin-top: 1px;
    background-color: #333333;
}
.flex-block__item-description {
    width: 340px;
    height: 50px;
    margin-top: 2px;
    background-color: #333333;
}
.flex-block__item-description-collor {
    width: 340px;
    height: 50px;
    margin-top: 4px;
    background-color: #D98943;
}
.flex-block__item-type {
    width: 340px;
    height: 40px;
    margin-top: 4px;
    color: #86878B;
    background-color: #FFFFFF;
}