.footer {
    padding: 30px 0 15px;
    background-color: #000000;
}
.footerrow__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.footerrow__icon a {
    color: #E5E5E5;
    font-size: 20px;
    margin-left: 25px;
}
.footerrow__icon a:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
    color: #EC7979;
}
.footer-description {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    margin-top: 18px;
    text-align: center;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.5);
}