@import url("../css/awesome.css");
@import url("../css/pricing.css");
@import url("../css/customers.css");
@import url("../css/axure.css");
@import url("../css/footer.css");
@import url();

html {
  font-family: 'Raleway', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
section {
  width: 100%;
}
.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}
.title {
  text-align: center;
  font-weight: 409px;
  line-height: 42px;
  font-size: 36px;
  text-transform: uppercase;
}
.title::after {
  content: "";
  width: 64px;
  height: 2px;
  display: flex;
}
.description {
  text-align: center;
  line-height: 19px;
}